---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Learn Astro Tutorial" description='This is my first astro ' image='/favicon.jpg' >
	<main>
		<h1>welcome to my page</h1>
	</main>
</Layout>

<style>
	
</style>
