---

---

<div class="container">
    <div class="box">
        <input type="text" name="search" id="search">
        <input type="button" value="search">
    </div>
</div>

<style>
    .container{
        
        place-content: center;
        place-items: center;
    }

</style>